.container {
    width: 70%;
}

.container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    overflow-y: scroll;
    filter: blur(2px);
    filter: brightness(15%);
    background-color: black;
    background-image: url("/images/bg3.jpg");
}

.form-container {
    margin: 6vh 0;
    border-radius: 6px;
    color: rgb(41, 41, 41);
    border: 3px solid rgb(41, 41, 41);
}

body {
    height: 100%;
    overflow-y: scroll;
    background-color: black;
}
.body {
    position: relative;
}

.title {
    font-size: 3vw;
    text-align: center;
    padding: 10px;
    margin: 1vw auto;
    border: 3px solid black;
    border-radius: 5px;
    text-align: center;
    width: fit-content;
    font-family: "Oswald", sans-serif, "Lucida Sans", "Lucida Sans Regular",
        "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.form-group {
    width: 90%;
    margin: 0 auto;
    padding: 1rem;
}

#submitbtn {
    background-color: black;
    color: white;
    width: 15vw;
    height: 50px;
    cursor: pointer;
    margin: 5vh 0;
}
#submitbtn:disabled {
    background-color: gray;
    cursor: not-allowed;
}

.error {
    font-size: smaller;
    color: rgb(255, 97, 97);
    display: inline;
    float: right;
}

span {
    margin: auto 2vw;
}

.forgotpassword{
  float: right;
  margin-right: 40px;
  color: #000;
}

ul.instructions {
    list-style: "👉 ";
    font-size: medium;
}

ul.instructions li,
ul p {
    margin-top: 10px;
}

ul p {
    font-size: large;
}

ul.question{
    list-style-type: none;
}

.question li{
    padding: 5px 0;
} 

.question input[type="radio"]{
    margin: 0 10px;
}

.question-line{
    font-size: 1.5em;
}

.test {
    color: rgb(67, 67, 67);
    padding: 0 4vmin;
}

.controls {
    display: flex;
    justify-content:flex-start;
    color: white;
    width: 50%;
}

 button{
    margin-left: 6vmin;
    border-radius: 5px;
    border: 1px solid transparent;
    padding: 6px 12px;
    opacity: 0.9;
}

.controls .next {
    background-color: green;
}

.controls .finish {
    background-color: rgb(0, 101, 0);
}

.controls .skip {
    background-color: rgb(166, 171, 3);
}

.quit {
    float: right;
    background-color: rgb(209, 59, 9);
    color: white
}

.controls button:hover{
    opacity: 1; 
}

input[type="radio"] {
    appearance: none;
    width: 1.5vw;
    height: 1.5vw;
    padding: 3px;
    background-clip: content-box;
    border: 1px solid #bbbbbb;
    background-color: #cdcdcd;
    border-radius: 50%;
    cursor: pointer;
}

input[type="radio"]:checked {
    background-color: #4d10a2;
}

.info {
    font-size: smaller;
    color: rgb(73, 73, 73);
}

.progress-bar1{
    width: 100%; 
    height:20px;    
    background-color: none;
    transition: none;
    border-radius: 4px;
    box-shadow: 1px 1px 2px grey;
    border: 1px solid gray;
    display: grid;
    align-items: center;
}

.progress-bar1 .progress1{
    background: rgb(136, 137, 137); 
    height: 99%;
    width: 99%;
    border-radius: 4px 0 0 4px;
    background-color: none;
    box-sizing: border-box;
    border-radius: none !important;
}