.container {
    width : 99%;
    padding: 0;
    margin: 0 auto;
}

.d-flex {
    display: flex;
    justify-content: space-between;
}

form {
    width: 70%;
}

form .title {
    font-size: 1.5em;
}

aside {
    width: 30%;
    border-right: 1px solid gray;
    padding: 0 1.5em;
    display: flex;
    align-items: center;
}

h1 {
    font-size: 2em;
}

.required {
    color: red
}