* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  height: 400px;

}
.content{
  margin-right: 10%;
  margin-left: 10%;
}

.column{
        background-color: #ccccb3;
}

.h1{
  text-align: center;
  font-weight: bolder;

}

 .tab {
            tab-size: 8;
        }

    .container{
        background-color: #ccccb3;

    }