    .body{
      background-color:black;
      color: white;
      font-size: 20px;
      padding-top: 100px;
      text-align: center;
      font-size: 30px;
    }

    .btn{
      color: black;
      background-color: white;
      width: 100px;
      height: 30px;
    }
